<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Редактирование статьи</title>
</head>
<body>

<header th:insert="blocks/header :: header"  ></header>

<div class="container">
    <p><strong>Редактирование статьи</strong></p><br>
    <div th:each="el : ${articleEdit}">
        <form th:method="post" th:object="${articleEdit}" th:action="'/article/' + ${el.id} + '/edit'">

            <input type="text" th:field="*{title}" th:value="title" id="title" class="form-control"><br>
            <div th:if="title != null" th:utext="${title}" class="text-danger">...</div>

            <input type="text" th:field="*{anons_article}" th:value="anons_article" id="anons_article" class="form-control"><br>
            <div th:if="anons_article != null" th:utext="${anons_article}" class="text-danger">...</div>

            <textarea th:field="*{full_text}" th:value="full_text" id="full_text" class="form-control"></textarea><br>
            <div th:if="full_text != null" th:utext="${full_text}" class="text-danger">...</div>

            <button type="submit" class="btn btn-success">Изменить статью</button>
        </form>
    </div>
</div>

<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>